   <footer class="w-100 bg-primary text-white" id="footer">
      <div class="row w-100 mb-2">  <img src="imgs/logo_footer.svg" alt="Logo footer" id="logo_footer"> </div>
      <div class="row w-100" id="col_footer">
         <div>
            <ul class="nav_footer">

{{#if index}}
   <li><span class="text-secondary">Inicio</span></li>
{{else}}
   <li><a href="/">Inicio</a></li>
{{/if}}

{{#if somos}}
   <li><span class="text-secondary">Somos Exincor</span></li>
{{else}}
   <li><a href="somos">Somos Exincor</a></li>
{{/if}}   

{{#if servicios}}
   <li><span class="text-secondary">Servicios</span></li>
{{else}}
   <li><a href="servicios">Servicios</a></li>
{{/if}}   

{{#if sustentabilidad}}
   <li><span class="text-secondary">Sustentabilidad</span></li>
{{else}}
   <li><a href="sustentabilidad">Sustentabilidad</a></li>
{{/if}}   

{{#if galeria}}
   <li><span class="text-secondary">Galeria</span></li>
{{else}}
   <li><a href="galeria">Galeria</a></li>
{{/if}} 

{{#if contacto}}
   <li><span class="text-secondary">Contacto</span></li>
{{else}}
   <li><a href="contacto">Contacto</a></li>
{{/if}}  


            </ul>
         </div>
         <div>
            <p class="ar"> <small> Tel/Fax. +54 9 11 12345678 <br>
               Mail. <a href="#">exincor@exincor.com</a><br>
               Dir. La Noria S/N - Río Blanco<br>
               Ruta Nº1 km 12 - Y4601XAD </small> </p>
         </div>
      </div>
   </footer>